.button {
  padding: 11px 25px;
  border: none;
  border-radius: 40px;
  background-color: #dc4734;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #333333;
  }

  &:disabled {
    background-color: rgb(201, 201, 201);
    color: #333333;
  }
}