.userpic {
  &__image {
    border-radius: 50%;
    object-fit: cover;

    &_small {
      width: 45px;
      height: 45px;
    }
    &_middle {
      width: 45px;
      height: 45px;
    }
    &_large {
      width: 250px;
      height: 250px;
      border-radius: unset;
    }
  }
}